1. Write a Python program to add an item to a tuple.

In [ ]:
tupl_items=(1,2,3,4)
new_one =5
new_tuple=tupl_items+ (new_one,)
print(new_tuple)

(1, 2, 3, 4, 5)

2. Write a Python program to sum all the items in a list.

In [ ]:
lists=[5,6,5,8]
print(sum(lists))

24

# 3. Write a Python program to multiply all the items in a list.

In [ ]:
lists=[1,2,3,4]
product=1
for num in lists:
  product*=num
print(f"the product of all items is:{product}")

the product of all items is:24

Write a Python program to get the smallest number from a list.

In [ ]:
lists = [2,5,7,8]
smallest_number = min(lists)
print("the smallest number is :",smallest_number)

the smallest number is : 2

5. Write a Python program to get the largest number from a list.

In [ ]:
lists=[1,2,5,9]
largest_numbers = max(lists)
print("the largest number is :",largest_numbers)

the largest number is : 9

6. Write a Python program to count the number of strings from a given list of
strings.

In [ ]:
list_of_string = ["apple","bannana","orange"]
count=len(list_of_string)
print("the count of list of string is :",count)

the count of list of string is : 3

7. Write a Python program to clone or copy a list

In [ ]:
list=[1,2,3,4]
list2 = [5,6,7]
copy_one = list.copy()+list2
copy_one[0]=100
print("orign_list is :",list)
print("cloned one is :",copy_one)

orign_list is : [1, 2, 3, 4]
cloned one is : [100, 2, 3, 4, 5, 6, 7]

8. Write a Python program to remove item(s) from a given set.

In [ ]:
new_set = {1,2,3,4,5,6}
new_set.remove(2)
print(new_set)

{1, 3, 4, 5, 6}

9. Write a Python program to check if a set is a subset of another set.

In [ ]:
set1={1,2,3,4}
set2={1,3,6,4,8,7}
is_subset=set1.issubset(set2)
print("is set1 is asubset of set2:",is_subset)

is set1 is asubset of set2: False

10. Write a Python program to remove all elements from a given set.

In [ ]:
listsss={1,2,3,4,5}
new_list=listsss.remove(2)
print(listsss)

{1, 3, 4, 5}

11. Write a Python program to find the maximum and minimum values in a set.

In [ ]:
my_set = {1,2,3,4,100}
print(max(my_set), min(my_set))

100 1

**12**. Write a Python program to find the index of an item in a tuple.

In [ ]:
my_tuple = (1,2,3,4,"amit")
index = my_tuple.index("amit")
print("index of item",index)

index of item 4

13. Write a Python program to convert a tuple to a dictionary.

In [ ]:
my_tuple = (("amit",3),("key",5))
my_new_dict = dict(my_tuple)
print(my_new_dict)

{'amit': 3, 'key': 5}

14. Write a Python program to unzip a list of tuples into individual lists.

In [1]:
def unzip_list_of_tuples(tuples_list):
    return list(map(list, zip(*tuples_list)))

example_list_of_tuples = [(1, 'a', True), (2, 'b', False), (3, 'c', True)]
unzipped = unzip_list_of_tuples(example_list_of_tuples)
print(unzipped)

[[1, 2, 3], ['a', 'b', 'c'], [True, False, True]]

15. Write a Python program to reverse a tuple.

In [ ]:
my_tuple = (1,2,3,4,"ammit")
reverse_one = tuple(reversed(my_tuple))
print(reverse_one)

('ammit', 4, 3, 2, 1)

16. Write a Python program to convert a list of tuples into a dictionary.

In [ ]:
my_list =[("key1",1),("key2",2),("key3",3)]
print(dict(my_list))

{'key1': 1, 'key2': 2, 'key3': 3}

\17. Write a Python program to replace the last value of tuples in a list.

In [5]:
def replace_last_value_in_tuple(tup, new_value):
    modified_tuple = tup[:-1] + (new_value,)
    return modified_tuple

example_tuple = (1, 'a', True)
new_value = 'replaced'
modified_tuple = replace_last_value_in_tuple(example_tuple, new_value)
print(modified_tuple)

(1, 'a', 'replaced')

18. Write a Python program to sort a tuple by its float element.

In [8]:
def sort_tuple_by_float(tuples):
    # Sort the tuple by the float element in each inner tuple
    sorted_tuples = tuple(sorted(tuples, key=lambda x: x[1]))
    return sorted_tuples

example_tuples = ((1, 2.5), (2, 1.3), (3, 3.7))
sorted_tuples = sort_tuple_by_float(example_tuples)

print(sorted_tuples)

((2, 1.3), (1, 2.5), (3, 3.7))